/*---------------------button-size--------------------------------*/
.btn-25-25{
    padding: 25px;
}

.btn-15-25{
    padding: 15px 25px;
}

.btn-10-25{
    padding: 10px 25px;
}

.btn-5-25{
    padding: 5px 25px;
}



.btn-20-20{
    padding: 20px 20px;
}

.btn-15-20{
    padding: 15px 20px;
}

.btn-10-20{
    padding: 10px 20px;
}

.btn-5-20{
    padding: 5px 20px;
}



.btn-15-15{
    padding: 15px 15px;
}

.btn-10-15{
    padding: 10px 15px;
}

.btn-5-15{
    padding: 5px 15px;
}


.btn-10-10{
    padding: 10px 10px;
}

.btn-5-10{
    padding: 5x 10px;
}
