/*---------------------------Display-Block--------------------------------------------------*/
.d-block{
    display: block;
}

/*--------------------Display-inline-Block--------------------------------------------------*/
.d-inline-block{
    display: inline-block;
}

/*--------------------Display-inline--------------------------------------------------------*/
.d-inline{
    display: inline;
}

/*-----------------------------------------------------------------------------------*/


