/*-----------------------padding-Zero-----------------------------------*/
.padding-zero{
    padding: 0px;
}
/*-----------------------padding-2-----------------------------------*/
.padding-2{
    padding: 2px;
}
/*-----------------------Delete-padding---------------------------------*/
.padding-top-del{
    padding-top: 0px;
}

.padding-right-del{
    padding-top: 0px;
}

.padding-bottom-del{
    padding-bottom: 0px;
}

.padding-lift-del{
    padding-top: 0px;
}

/*------------------------padding-50px---------------------------------*/
.padding-top-50{
    padding-top: 50px;
}

.padding-right-50{
    padding-top: 50px;
}

.padding-bottom-50{
    padding-bottom: 50px;
}

.padding-lift-50{
    padding-top: 50px;
}

/*------------------------padding-45px---------------------------------*/
.padding-top-45{
    padding-top: 45px;
}

.padding-right-45{
    padding-right: 45px;
}

.padding-bottom-45{
    padding-bottom: 45px;
}

.padding-left-45{
    padding-left: 45px;
}

/*------------------------padding-40px---------------------------------*/
.padding-top-40{
    padding-top: 40px;
}

.padding-right-40{
    padding-top: 40px;
}

.padding-bottom-40{
    padding-bottom: 40px;
}

.padding-lift-40{
    padding-top: 40px;
}

/*------------------------padding-35px---------------------------------*/
.padding-top-35{
    padding-top: 35px;
}

.padding-right-35{
    padding-top: 35px;
}

.padding-bottom-35{
    padding-bottom: 35px;
}

.padding-lift-35{
    padding-top: 35px;
}

/*------------------------padding-30px---------------------------------*/
.padding-top-30{
    padding-top: 30px;
}

.padding-right-30{
    padding-top: 30px;
}

.padding-bottom-30{
    padding-bottom: 30px;
}

.padding-lift-30{
    padding-top: 30px;
}

/*------------------------padding-25px---------------------------------*/
.padding-top-25{
    padding-top: 25px;
}

.padding-right-25{
    padding-top: 25px;
}

.padding-bottom-25{
    padding-bottom: 25px;
}

.padding-lift-25{
    padding-top: 25px;
}

/*------------------------padding-20px---------------------------------*/
.padding-top-20{
    padding-top: 20px;
}

.padding-right-20{
    padding-top: 20px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.padding-lift-20{
    padding-top: 20px;
}

/*------------------------padding-15px---------------------------------*/
.padding-top-15{
    padding-top: 15px;
}

.padding-right-15{
    padding-top: 15px;
}

.padding-bottom-15{
    padding-bottom: 15px;
}

.padding-lift-15{
    padding-top: 15px;
}

/*------------------------padding-10px---------------------------------*/
.padding-top-10{
    padding-top: 10px;
}

.padding-right-10{
    padding-top: 10px;
}

.padding-bottom-10{
    padding-bottom: 10px;
}

.padding-lift-10{
    padding-top: 10px;
}

/*------------------------padding-5px---------------------------------*/
.padding-top-5{
    padding-top: 5px;
}

.padding-right-5{
    padding-top: 5px;
}

.padding-bottom-5{
    padding-bottom: 5px;
}

.padding-lift-5{
    padding-top: 5px;
}

/*------------------------padding-inline---------------------------------*/
.padding-inline-50{
    padding-inline: 50px;
}
.padding-inline-45{
    padding-inline: 45px;
}
.padding-inline-40{
    padding-inline: 40px;
}
.padding-inline-35{
    padding-inline: 35px;
}
.padding-inline-30{
    padding-inline: 30px;
}
.padding-inline-25{
    padding-inline: 25px;
}
.padding-inline-20{
    padding-inline: 20px;
}
.padding-inline-15{
    padding-inline: 15px;
}
.padding-inline-10{
    padding-inline: 10px;
}
.padding-inline-5{
    padding-inline: 5px;
}

/*------------------------padding-block---------------------------------*/
.padding-block-50{
    padding-block: 50px;
}
.padding-block-45{
    padding-block: 45px;
}
.padding-block-40{
    padding-block: 40px;
}
.padding-block-35{
    padding-block: 35px;
}
.padding-block-30{
    padding-block: 30px;
}
.padding-block-25{
    padding-block: 25px;
}
.padding-block-20{
    padding-block: 20px;
}
.padding-block-15{
    padding-block: 15px;
}
.padding-block-10{
    padding-block: 10px;
}
.padding-block-5{
    padding-block: 5px;
}

/*-----------------------------------------------------------*/
.padding-45{
    padding: 45px;
}

.padding-25{
    padding: 25px;
}